.info {
    margin-top: 100px;
    width: 500px;
    display: block;
    margin: 100px auto;
    text-align: center;
}

.info-box {
    /* margin-left: 30px;
    margin-right: 30px; */
    display: block;
    width: max-content;
    border-top: 1px solid  lightgray;
    border-bottom:1px solid  lightgray;
}
.info-box li {
    list-style: none;
}

#info-name {
    margin: 10px;
    font-weight: bold;
}